/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 2px 10px rgba(104, 104, 104, 0.8);
    --headerfont: 'Acme', sans-serif;
    --bodyfont: 'Montserrat', sans-serif;
}

html {
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
    color: var(--light);
    background: var(--dark);
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    font-family:'Montserrat', sans-serif;
    padding: 0;
    margin: 25px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);

}

h1 {
    color: var(--light);
    font-family: var(--headerfont);
    text-transform: uppercase;
}

p, h2 {
    color: var(--light);
    font-family: var(--bodyfont);
}

ul {
    text-decoration: none;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

li {
    text-decoration: none;
}

.info {
   color: var(--light); 
   font-size: large;  
   font-family: var(--bodyfont);
}

.review {
    color: var(--light);
    font-size: large;
    font-family: var(--bodyfont);
    margin-bottom: 5rem;
}

.edit-delete-form {
    display: grid;
    grid-gap: 20px;
    font-family:'Montserrat', sans-serif;
    padding: 0;
    margin: 25px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.edit-delete-form {
background: var(--primary);
display: block;
text-decoration: none;
padding: 0.8rem;
text-align: center;
color: var(--dark);
text-transform: uppercase;
font-size: 1.1rem;
box-shadow: var(--shadow);

}

/* .edit-button {
    flex: 1;
}

.delete-button {
    flex: 2;
} */



/* .btn {
    background: var(--dark);
    color: var(--light);
    padding: .6rem 1.3rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-decoration: none;
    border: 0;
    
}

.btn a:hover {
    background: var(--light);
    color: var(--dark);
    padding: .6rem 1.3rem;
    text-decoration: none;
    border: 0;
} */

.wrapper {
    display: grid;
    grid-gap: 10px;
}

/* Main Index */

/* .home-header {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'showcase showcase showcase'
        'showcase showcase showcase';
} */

.showcase {
    min-height: 100px;
    background: url(https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
    color: var(--light);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}

.index-nav {
    display: flex;
    grid-gap: 20px;
    padding: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    justify-content: space-evenly;
    list-style: none;
}

.movie-gallery, .book-gallery, .album-gallery {
    display: grid;
    grid-gap: 25px;
    padding: 0;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
}

.log-new {
    /* background: var(--primary); */
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    /* box-shadow: var(--shadow); */
    /* color: var(--light);
    margin-bottom: 40px;
    padding: 50px; */

}


.movie-index {
    background-image: url("https://www.syfy.com/sites/syfy/files/styles/1200x680/public/2018/11/getty_watching_movie.jpg");
    background-position: 50%;
    padding: 3rem;
    box-shadow: var(--shadow);

}

.book-index {
    background-size: 300px 225px;
    background-image: url("https://media.treehugger.com/assets/images/2015/01/paper_book_folded_in_heart_shape.jpg.860x0_q70_crop-scale.jpg");
    background-position: 25%;
    padding: 3rem;
    box-shadow: var(--shadow);
}

.album-index {
    background-size: 400px 325px;
    background-image: url(https://mk0lifedatacorpyd3vq.kinstacdn.com/wp-content/uploads/2016/07/head-phones.jpeg);
    background-position: 50%;
    padding: 3rem;
    box-shadow: var(--shadow);
}

/* Movie Index */

.movie-header {
    min-height: 125px;
    background-image: url(https://images.unsplash.com/photo-1510511450816-30c68106b199?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    color: var(--dark);
    background-size: 68%;
    background-position: center;
    padding: 3rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}


.movie-gallery-info {
    font-size: 15px;

} 

.book-header {
    min-height: 125px;
    background-image: url(https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    color: var(--dark);
    background-size: 80%;
    background-position: center;
    padding: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}

.ind-book-img {
    max-width: 300px;
    max-height: auto;
}


/* Album Index */

.album-gallery {
display: grid;
grid-gap: 20px;
padding: 0;
margin-top: 5rem;
margin-bottom: 5rem;
/* display: flex; */
/* justify-content: space-between; */
list-style: none;
grid-template-columns: repeat(4, 1fr);
}

.showcase-album {
    min-height: 150px;
    background: url(https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    color: var(--light);
    background-size: 67%;
    background-position: center;
    padding: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}


.ind-album-img {

    max-width: 200px;
    max-height: auto;

}

.show-image-container {
    margin-bottom: 3rem;
}

.show-image {
    max-width: 250px;
    max-height: auto;
}

.ind-movie-img, .ind-book-img, .ind-album-img {
    max-width: 200px;
    max-height: auto;
}

  .edit-page {
    
        background: var(--dark);
        color: var(--light);
        border-radius: 0 10px 10px 0;
        padding: 15px;
        box-sizing: border-box;
        overflow: auto;
      }
  


.index-footer {
    min-height: 50px;
    background: url(https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
    color: var(--light);
    background-size: cover;
    font-family: var(--bodyfont);
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}

.movie-footer {
    min-height: 50px;
    background: url(https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
    color: var(--light);
    background-size: cover;
    font-family: var(--bodyfont);
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}

.book-footer {
    min-height: 50px;
    background: url(https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
    color: var(--light);
    background-size: cover;
    font-family: var(--bodyfont);
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}

.album-footer {
    min-height: 50px;
    background: url(https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
    color: var(--light);
    background-size: cover;
    font-family: var(--bodyfont);
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}

/* FORMS */

  
  form {
      font-family: 'Montserrat', sans-serif;
  }
  
  input[type="submit"] {
    background-color: var(--light);
    color: var(--dark);
    width: calc(var(--reg-width) + 20rem);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
  }
  
  input[type="submit"]:hover {
    box-shadow: 0 8px 16px rgba(255, 180, 131, 0.9);
    cursor: pointer;
    background: var(--light);
  
  }
  
  input[type="submit"]:focus {
    box-shadow: 0 8px 16px rgba(255, 180, 131, 0.9);
  }
  
  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--light);
  }
  
  
  textarea {
    /* resize: ; */
    height: 300px;
   }